.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown p {
  @apply text-justify break-words text-[0.95rem];
}

.markdown blockquote {
  @apply pr-4 pl-10 py-7 my-3 rounded-lg font-semibold;
}

.markdown blockquote p {
  @apply inline text-[0.95rem];
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug font-bold text-transparent bg-clip-text max-w-fit;
}

.markdown h3,
.markdown h4,
.markdown h5 .markdown h6 {
  @apply font-bold;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown figure pre {
  @apply bg-transparent;
}

.markdown figure[data-rehype-pretty-code-figure] {
  @apply rounded-lg overflow-clip mb-7;
}

.markdown code[data-theme*=" "] {
  @apply text-[0.9rem] overflow-auto py-3;
}

.markdown code[data-theme*=" "] span[data-line] {
  @apply px-6;
}

.markdown p > [data-rehype-pretty-code-figure] > code,
.markdown li [data-rehype-pretty-code-figure] code {
  @apply rounded p-1 break-words border-none;
}

.markdown p > span[data-rehype-pretty-code-figure] > code span[data-line],
.markdown li span[data-rehype-pretty-code-figure] code span[data-line] {
  @apply px-0;
}

.markdown p > span[data-rehype-pretty-code-figure],
.markdown li span[data-rehype-pretty-code-figure] {
  @apply !mb-0 border-none bg-transparent p-0;
}

.markdown li figure[data-rehype-pretty-code-figure] code,
.markdown p figure[data-rehype-pretty-code-figure] code {
  @apply m-0 py-3 break-words;
}

.markdown li code,
.markdown p > code {
  @apply mx-1 p-1 rounded break-words;
}

.markdown [data-rehype-pretty-code-title] {
  @apply font-mono text-[0.9rem] px-5 py-2;
}

.markdown p > img {
  @apply rounded-lg my-10 w-full max-w-2xl mx-auto;
}

.markdown table {
  @apply table text-[0.95rem] max-w-full;
}

.markdown table tr {
  @apply !text-sm;
}

.markdown table th:first-child {
  position: static;
}

.markdown ol {
  @apply list-decimal ml-10 my-3;
}

.markdown ul {
  @apply list-disc ml-10 my-3;
}

.markdown li {
  @apply pl-2 text-[0.95rem] mt-2;
}

.markdown a {
  @apply hover:underline transition-colors;
}

.markdown code[data-line-numbers] {
  counter-reset: line;
}

.markdown code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

.markdown code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

.markdown code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}
