@tailwind base;
@tailwind components;
@tailwind utilities;

.post-title {
  @apply text-3xl sm:text-4xl md:text-6xl font-extrabold tracking-tight leading-tight md:leading-tight text-center bg-gradient-to-tl from-[#F44369] to-[#3E3B92] dark:to-[#16BFFD] text-transparent bg-clip-text;
}

/* On post-body.tsx, only katex, shiki and color related class @apply relatives written here */
.katex {
  font-size: 1.15em;
}

.katex-html {
  @apply py-2 overflow-x-auto overflow-y-hidden;
}

.katex-display > .katex > .katex-html {
  @apply flex;
}

.katex-display > .katex > .katex-html > .base {
  @apply mx-auto;
}

.katex-display > .katex > .katex-html > .tag {
  @apply relative ml-10;
}

.shiki {
  @apply border border-zinc-300 dark:border-zinc-700;
}

.dark .shiki,
.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

.markdown-styles_markdown__h_8de blockquote {
  @apply border border-l-[10px] border-l-[#f44369] dark:border-l-[#f44369] border-zinc-300 dark:border-zinc-700 bg-zinc-50 dark:bg-zinc-800;
}

.markdown-styles_markdown__h_8de h2 {
  @apply bg-gradient-to-tl from-[#F44369] to-[#3E3B92] dark:to-[#16BFFD];
}

li code {
  @apply bg-zinc-100 dark:bg-zinc-800 text-red-600 dark:text-orange-400;
}

p code {
  @apply bg-zinc-100 dark:bg-zinc-800 text-red-600 dark:text-orange-400;
}

p img {
  @apply dark:bg-white;
}

.markdown-styles_markdown__h_8de table {
  @apply border border-zinc-300 dark:border-zinc-700 dark:bg-zinc-800;
}
.markdown-styles_markdown__h_8de table th {
  @apply dark:bg-zinc-950 bg-zinc-100 text-[#3E3B92] dark:text-zinc-100;
}
.markdown-styles_markdown__h_8de table tr {
  @apply dark:!bg-zinc-800 dark:!border-zinc-600 !border-zinc-300;
}

.Typewriter__cursor {
  @apply text-[#F44369];
}

.pagination {
  @apply bg-zinc-100 border-0 hover:bg-zinc-300 dark:bg-zinc-800 hover:dark:bg-zinc-700;
}

.flex > .btn-disabled {
  @apply text-zinc-300 bg-zinc-100 dark:bg-zinc-800 dark:text-zinc-600 !important;
}

.comment {
  @apply input w-full border border-zinc-300 dark:border-zinc-600 bg-white focus:border-slate-500 focus:outline-none dark:bg-zinc-700 focus:dark:border-zinc-300 dark:text-zinc-100;
}

.send-disabled {
  @apply btn-disabled dark:bg-zinc-700 dark:text-zinc-500 !important;
}
